<h1>Welcome to Super Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

<table border=1>
<tr>
  <th>title</th>
  <th>owner</th>
  <th>city</th>
  <th>type</th>
  <th>bedrooms</th>
</tr>
{{#each model as |rental|}}
<tr>
  <th>{{rental.title}}</th>
  <td>{{rental.owner}}</td>
  <td>{{rental.city}}</td>
  <td>{{rental.type}}</td>
  <td>{{rental.bedrooms}}</td>
</tr>
{{/each}}
</table>

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}}
